# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# productio
/build
/public

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

*.iml
package-lock.json
